/**
 * Your theme name here
 *
 * Say something about the theme
 *
 * Give yourself some credit here
 *
 */

/* Container */
.dk_container {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  float:left;
  font: 13px "museo-sans";
  line-height:22px;
  /*margin-right:10px;*/
}
  a {
    cursor:pointer;
    text-decoration:none;
    color:#444;
  }

/* Toggle */
.dk_toggle {
  background:#D3E8EE;
  border-radius:4px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
  .dk_toggle:hover {
    background:#8DC0CD;
    color:#FFF;
  }
  .dk_label {
    position:relative;
    top:3px;
    padding:0px 0px 0px 10px;
  }
  .dk_toggle:after {
    padding:3px 10px 3px 10px;
    content: '▾';
    color:#fff;
    background:#555;
    float:right;
    border-radius:4px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
  }
  .dk_toggle:hover:after {
    background:#3A3A3A;
  }

.dk_open {
  position: relative;
}
  .dk_open .dk_toggle:after {
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    border-radius:4px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-top-left-radius:0px;
  }

  .dk_open .dk_toggle {
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
  }
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  position: absolute;
  right: 0;
  width: 100%;
  margin-top:1px;
  background:#FFF;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -webkit-box-shadow: 5px 10px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 5px 10px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 5px 10px 5px rgba(0,0,0,.15);
  box-shadow        : 5px 10px 5px rgba(0,0,0,.15);
  padding:2px 0px 0px 0px;
}
  .dk_options:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .dk_options:after {
    border-bottom-color: #FFF;
    border-width: 4px;
    left: 50%;
    margin-left: -12px;
  }
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
    padding:3px 10px;
  }
  .dk_options li:last-child a {
    border-bottom:none;
  }
  .dk_options a:hover {
    background:#8DC0CD;
    color:#FFF;
    width:100%;
  }
  .dk_options li:last-child a:hover {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }
  .dk_options ul {
    padding:0px;
    margin:0px;
    width:100%;
    list-style:none;
  }
  .dk_options li {
    padding:0px;
    margin:0px;
  }


.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_focus select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}
